*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

body {
    background-color: #F5F5DC;
    text-align: center;
    margin: 0;
}

/* Header */
header {
    background-color: #F5F5DC;
    padding: 20px;
    text-align: center;
}

h1 {
    margin-top: 0;
}
/* Navigation Bar */
nav{
    height: 80px;
    background-color: #F5F5DC;
    display: flex;
    justify-content: center;
    padding: 20px;
}

nav a{
    text-decoration: none;
    color: #004225;
    padding: 23px;
}

nav a:hover{
    color: #FFB000;
}

.logo{
    color: #004225;
    font-size: 42px;
    font-weight: bold;
    padding-top: 10px;
}

/* Content */
.container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    padding: 20px;
}

.container_title{
    justify-content: center;
    object-position: center;
}

.container_title h1{
    font-size: 64px;
    color: #004225;
}

.container_title{
    font-size: 32px;
    color: #ffb000;
    margin-bottom: 22px;
    padding: 0 200px;
}

h2, h3, h4 {
    text-align: center;
    color: #ffb000;
    margin-top: 0;
}

.mission {
    background-color: #333;
    padding: 50px 0;
    text-align: center;
}

.card {
    width: 300px;
    margin: 10px;
    border: 2px solid #004225;
    padding: 10px;
    position: relative;
    overflow: hidden;
    
}

.card img {
    width: 1366px;
    height: 768px;
}

.card .title {
    background-color: #004225;
    color: #F5F5DC;
    font-size: 18px;
    padding: 5px 0;
    position: center;
    bottom: 0;
    width: 100%;
}

/* Footer */
footer{
    background-color: #004225;
    color: #F5F5DC;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright{
    font-size: large;
    padding: 15px;
}

.contact_info{
    padding: 15px;
    text-align: left;
}

@media screen and (max-width: 768px){
    .banner_container{
        grid-template-columns: 1fr;
    }
}